* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	margin: 0 0 50px 0;
}

h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Droid Sans', sans-serif;
	width: 600px;  
}

h1	{
	font-family: 'Rock Salt', cursive;
	font-size: 50px;
}

h2 {
	margin: 50px auto 30px auto;
	font-size: 28px;
}

h3 {
	margin: 50px auto 30px auto;
	border-bottom: solid 1px #444444;
	font-size: 22px;
}

h4 {
	margin: 30px auto 30px auto;
	font-size: 20px;
}

p {
	margin: 0 auto 0 auto;
	line-height: 1.5;
	text-align: justify;
}

header {
	background-color: #3c6973;
	padding: 40px 0 15px 0;	
}

header img {
	border: none;
}

header h1 {
	color: #c9ebf2;
	text-align: center;
}

footer p {
	margin: 60px auto 20px auto; 
	text-align: center;
}

nav ul {
	margin: auto;
	padding: 0 0 0 0;
	text-align: center;
}	

nav li {
	display: inline;
	padding-right: 40px;
	color:  #c9ebf2;
}

nav li:last-child {
	padding-right: 0;
}

nav a {
	color:  #c9ebf2;
}

section h2 {
	text-align: center;
}

article {
	margin: 0 auto;
	line-height: 1.5;
	width: 600px;
}

article ul {
	list-style: disc;
	margin: 0 auto 0 auto;
	line-height: 2.5;
	list-style-position: inside;
}

img {
	display: block;
	margin:  20px auto 20px auto;
	border: solid 1px #999;
	width: 600px;
}

.impressum h2 {
	text-align: left;
}

