
body {
	margin-bottom: 50px;
}

h1	{
	font-family: 'Rock Salt', cursive;
	font-size: 42px;
}

h2 {
	margin: 30px auto 30px auto;
	font-family: 'Droid Sans', sans-serif;
}


h3 {
	margin-top: 50px;
	border-bottom: solid 1px #444444;
	font-family: 'Droid Sans', sans-serif;
	
}

h4 {
	font-family: 'Droid Sans', sans-serif;
}

p {
	margin: 0 auto 0 auto;
	width: 600px;
	line-height: 1.5;
	font-family: 'Droid Sans', sans-serif;
	text-align: justify;
	
}

.header {
	background-color: #3c6973;
	padding: 30px 0 15px 0;
	
}
.header h1 {

	color: #c9ebf2;
	text-align: center;
}

.header ul {
	text-align: center;
}

.nav {
	margin: auto;
	padding: 0;
}	

.nav li {
	display: inline;
	padding-right: 40px;
	color:  #c9ebf2;
}

.nav li:last-child {
	padding-right: 0;
}


.nav a {
	color:  #c9ebf2;
	font-family: 'Droid Sans', sans-serif;
}

.about {
	margin: auto;
}

.about h2 {
	text-align: center;
}

.blog {
	margin: auto;
}

.blog h2 {
	text-align: center;
}

.blog h3 {
	text-align: center;
}

.blog h4 {
	text-align: center;
}

img {
	display: block;
	margin: auto 0 auto 0;
	width: 600px;
}

.archive {
	
}

.archive img {
	border: solid 1px; 
	margin: 15px 0 15px 0;
}

.archive h3 {
	text-align: center;
