


body {
	margin-bottom: 50px;
}

h1	{

}

h2 {
	margin-top: 30px;
	margin-bottom: 15px;
}


h3 {
	margin-top: 50px;
	border-bottom: solid 1px #444444;
}

p {
	width: 550px;
	margin: 10px;
}

.header {
	background-color: #81d8d0;
	padding: 50px 0 15px 30px;
	margin-left: 5px;
}
.header h1 {
	text-decoration: underline;
}


.about {
	margin-left: 30px;
}

.blog {
	margin-left: 30px;
}

.nav {
	padding-left: 0;
}	

.nav li{
	display: inline;
	padding-right: 20px;

