
body {
	margin-bottom: 50px;
}

h1	{
	
}

h2 {
	margin: 30px auto 30px auto;
	text-align: center;
}


h3 {
	margin-top: 50px;
	border-bottom: solid 1px #444444;
	width: 768px;
}

h4 {
	width: 768px;
}

p {
	margin: 0 auto 0 auto;
	width: 768px;
	
}

.header {
	background-color: #3c6973;
	padding: 50px 0 15px 0;
	
}
.header h1 {

	color: #c9ebf2;
	text-align: center;
}

.header ul {
	text-align: center;
}


.about {
	margin: auto;
}

.blog {
	margin: auto;
}

.nav {
	margin: auto;
}	

.nav li{
	display: inline;
	padding-right: 20px;
	color:  #c9ebf2;

}
